
@media all and (min-width: 769px){
 	/*@media not all and (orientation: portrait){*/
		body{
			font-size: 1.5rem;
		}
		.block-page > header{
			width: 50%;
		}
		header > h2{
			font-size: 4rem;
		}
		.separator{
			margin-top: 0;
			margin-bottom: 0;
		}
		/*====================== ACCEUIL ===================================*/
		/*========================= NAV ======================================*/
		#accueil nav{
			justify-content: space-between;
			align-items: flex-end;
			height: auto;
			width: 100%;
			margin-left: 0;
			flex-direction: row;
		}
		#logo{
			position: relative;
			margin-left: 11%;
			flex: none;
			display: initial;
			height: auto;
		}
		#menu-switch, #menu-button{ display: none;}
		#menu{
			margin-right: 11%;
			flex: none;
			align-self: flex-start;
			flex-direction: row;
		}
		#menu li{
			width: auto;
		}
		#menu a{
			border-top: 3px solid transparent;
			padding: 0 1rem;
			padding-top: 40px;
			padding-bottom: 20px;
			font-size: 1.5rem;
			background-color: transparent;
		}
		#menu a:hover{
			border-top-color: #5CADD3;
			background-color: initial;
			color: black;
		}
		.fa-arrow-up{
			display: none;
		}
		/*========================= BANNER =========================================*/
		#banner{
			margin-top: 60px;
			text-shadow: none;
		}
		#left-arrow, #right-arrow{
			font-size: 1.5rem;
			border-radius: 50%;
			top: calc( 50% - 2.75rem);
			padding: 2rem 1rem;
		}
		#left-arrow{
			left: -3rem;
			padding-left: 4rem;
		}
		#right-arrow{
			right: -3rem;
			padding-right: 4rem;
		}
		#txt{
			font-size: 1.5vw;
			top: 20%;
			left: 10%;
			width: 50%;
		}
		#txt .blue{
			color: #5CADD3;
		}
		#txt p{
			margin-top: 30px;
			font-size: initial;
		}
		#info{
			margin-top: 20px;
			padding: 1rem;
			background-color: #5CADD3;
			box-shadow: 0 -3px 0 rgba(0,0,0,0.3) inset;
			border-radius: 2px;
			color: white;
			display: table;
		}

		/*======================= SERVICES ===================================*/
		#services{
			margin-top: 100px;
		}
		#services-list{
			margin-top: 50px;
			display: grid;
			grid-template-columns: 50% 50%;
			text-align: left;
		}
		#services-list ul{
			margin-top: 5rem;
		}
		#services-list li > i {
			font-size: 2.2rem;
			padding: 1.8rem;
			width: 6rem;
			height: 6rem;
		}
		#services-list li > i i{
			font-size: 1.3rem;
			top: calc(50% - 0.9rem);
			right: -1.05rem;
		}
		#services-list h3, #services-list p{
			margin-top: 10px;
		}
		#services-list li{
			padding-left: 0;
			margin: 20px 0;
			display: flex;
			align-items: center;
		}
		#services-list li article{
			margin-left: 15px;
		}

		/*============================ PORTFOLIO ==================================*/
		/*=============================== NAV ========================================*/


		#portfolio li:first-child{
			display: inline;
		}
		#portfolio li:first-child a{
			border-radius: 5px 0 0 5px;
		}
		#portfolio li:nth-child(2) a{
			border-radius: 0;
		}

		/*=============================== GALLERY ========================================*/

		#gallery{
			justify-content: center;
			grid-template-columns: 22% 22% 22% 22%;
			grid-gap: 20px;
		}
		#gallery .on-hover{
			height: 45%;
			padding-top: 5%;
			font-size: 1.2vw;
		}
		#gallery .on-hover i{
			top: -1.77rem;
			border: 2px solid white;
		}
		/*=========================== CONTACT =================================================*/
		/*=========================== CONTACT-FORM =================================================*/
		#contact{
			margin-top: 50px;
		}
		#map-google{
			height: 700px;
		}
		#contact-form{
			position: absolute;
			top: 10%;
			right: 5%;
			background-color: rgba(255,255,255,0.7);
			width: 300px;
		}
		#contact-form fieldset, #contact-form header{
			margin-top: 5px;
			text-align: left;
		}
		#contact-form input, #contact-form textarea{
			margin-top: 10px;
			width: 100%;
			font-size: 1em;
		}
		#contact-form input[type="submit"]{
			margin-top: 10px;
			background-color: #5CADD3;
			padding: 1rem;
			cursor: pointer;
			box-shadow: 0 -3px 0 rgba(0,0,0,0.3) inset;
			width: auto;
		}
		#contact-form h4{
			margin-top: 10px;
			color: #555;
		}
		#contact-form p{
			margin-top: 5px;
		}
		#contact-form #tel{
			text-decoration: underline dotted;
		}
	/*}*/


}

@media all and (min-width: 1300px){
	#txt{
		font-size: 1.3em;
		top: 20%;
		left: 10%;
		width: 50%;
	}
	.block-page{
		max-width: 1300px;
		margin: auto;
	}
	#gallery .on-hover{
		font-size: 1.5rem;
	}
}